.DS_store
dbbuild/data/input/*
dbbuild/data/output/*
dbbuild/shapes/*.shp
dbbuild/shapes/*.dbf
dbbuild/shapes/*.prj
dbbuild/shapes/*.shx
dbbuild/shapes/*.csv
dbbuild/shapes/
worldclimmiddleware/nodemodules
.env